extends layout

block content
    include etherFormatting
    div 
        latest synced block: #{recentBlocks[0].blockNumber}
    div
        each block in recentBlocks
            div(class='recent-block')
                a(href=`/block/${block.blockNumber}`)
                    = block.blockNumber
                span &nbsp;
                a(href=`/blockTransactions/${block.blockNumber}`)
                    = block.transactionCount + ' transactions'
