body {
    margin:0;
    font-size:13px;
    font-family:"Open Sans", sans-serif;
}

.content {
    padding:2.3em;
    color:#333;
}

a {
    color: #00B7FF;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

header {
    color:#EEE;
    background: #3579A3;    
    padding-top:.3em;
    padding-bottom:.3em;
}

.header-item {
    display:inline-block;
    padding-left:1em;
    padding-right:1em;
}

.header-site-name a {
    font-size:1.1em;
    font-weight:bold;
    letter-spacing:.08em;
}

.header-item a {
    text-decoration:none;
}

.header-item a:hover {
    text-decoration:underline;
}

header a {
    color:#FAFAFA;
}

.address-header-address {
    font-size:.6em;
    font-weight:normal;
    color:#888;
}

.recent-blocks {
    display:inline-block;
    width:20em;
}

.recent-blocks-header {
    border-bottom: 1px solid #333;
}

.recent-block {
    margin: .75em;
    border: 1px solid #333;
    padding: .75em;
}

table.transactions td {
    padding-left:.2em;
    padding-right:.2em;
}
